body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: underline;
}

.header {
  background: #3273dc;
}

.header .title:not(:last-child) {
  color: #fff;
  margin-bottom: 2rem;
}

.header .subtitle {
  color: #fff;
  margin: 0 auto;
  max-width: 50rem;
}

.card {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card:hover h3,
.card:focus h3{
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#aaa;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#aaa;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:#aaa;
}

::placeholder { /* Most modern browsers support this now. */
  color:#aaa;
}
